{% extends 'layouts.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Bootstrap Icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Google fonts-->
	
		
	<!-- SimpleLightbox plugin CSS-->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="static/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
	<!-- Navigation-->
	
	<!-- Masthead-->
	<header class="masthead">
		<div class="container px-4 px-lg-5 h-100">
			<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
				<div class="col-lg-8 align-self-end">
					<h1 class="text-white font-weight-bold">All about Health tips and tricks!</h1>
					<hr class="divider" />
				</div>
				<div class="col-lg-8 align-self-baseline">
					<p class="text-white-75 mb-5"></p>The great thing about the Internet isn't that you can reconnect
					with old friends or stay up to dat
					<a class="btn btn-primary btn-xl" href="#about">Get more</a>
				</div>
			</div>
		</div>
	</header>
	<!-- About-->
	<section class="page-section bg-primary" id="about">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-lg-8 text-center">
					<h2 class="text-white mt-0">We've got what you need!</h2>
					<hr class="divider divider-light" />
					<p class="text-white-75 mb-4">I always say shopping is cheaper than a psychiatrist.” “Too many
						people spend money they haven’t earned, to buy things they don’t want, to impress people they
						don’t like!</p>
					<a class="btn btn-light btn-xl" href="#services">Get Started!</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Services-->
	<section class="page-section" id="services">
		<div class="container px-4 px-lg-5">
			<h2 class="text-center mt-0">Our insights| Visit and found somthing interested!</h2>
			<hr class="divider" />
			<div class="row gx-4 gx-lg-5">
				<div class="col-lg-3 col-md-6 text-center">
					<div class="mt-5">
						<div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
						<h3 class="h4 mb-2">Fashion</h3>
						<p class="text-muted mb-0">Find out fasion related all items!</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="mt-5">
						<div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
						<h3 class="h4 mb-2">Healh products</h3>
						<p class="text-muted mb-0">Helth Related product!</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="mt-5">
						<div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
						<h3 class="h4 mb-2">Ready to fligh!</h3>
						<p class="text-muted mb-0">I was in a bookstore, browsingthrough an old Life magazine, when I
							saw a picture of what the article called spontaneous human combustion. There were an old
							guy's legs and shoes, perfectly intact...then, right around his knee area, was just a pile
							of charred ashes</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="mt-5">
						<div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
						<h3 class="h4 mb-2">Made with Love</h3>
						<p class="text-muted mb-0">I saw that you were perfect, and so I loved you. Then I saw that you
							were not perfect and I loved you even more.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Portfolio-->
	<div id="portfolio">
		<div class="container-fluid p-0">
			<div class="row g-0">
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg" title="Project Name">
						<img class="img-fluid" src="../static/1.jpg" alt="..." />
						<div class="portfolio-box-caption">
							<div class="project-category text-white-50">Nature</div>
							<div class="project-name">Nature iamge section</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="assets/img/portfolio/fullsize/2.jpg" title="Project Name">
						<img class="img-fluid" src="../static/2.jpg" alt="..." />
						<div class="portfolio-box-caption">
							<div class="project-category text-white-50">Category</div>
							<div class="project-name">Project Name</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="assets/img/portfolio/fullsize/3.jpg" title="Project Name">
						<img class="img-fluid" src="../static/3.jpg" alt="..." />
						<div class="portfolio-box-caption">
							<div class="project-category text-white-50">Category</div>
							<div class="project-name">Project Name</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="assets/img/portfolio/fullsize/4.jpg" title="Project Name">
						<img class="img-fluid" src="../static/4.jpg" alt="..." />
						<div class="portfolio-box-caption">
							<div class="project-category text-white-50">Category</div>
							<div class="project-name">Project Name</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="assets/img/portfolio/fullsize/5.jpg" title="Project Name">
						<img class="img-fluid" src="../static/5.jpg" alt="..." />
						<div class="portfolio-box-caption">
							<div class="project-category text-white-50">Category</div>
							<div class="project-name">Project Name</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="assets/img/portfolio/fullsize/6.jpg" title="Project Name">
						<img class="img-fluid" src="../static/6.jpg" alt="..." />
						<div class="portfolio-box-caption p-3">
							<div class="project-category text-white-50">Category</div>
							<div class="project-name">Project Name</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Call to action-->
	<section class="page-section bg-dark text-white">
		<div class="container px-4 px-lg-5 text-center">
			<h2 class="mb-4">Creative xCoding Blogs! Free images</h2>
			<a class="btn btn-light btn-xl" href="https://unsplash.com/">Download Now!</a>
		</div>
	</section>
	<!-- Contact-->
	<section class="page-section" id="contact">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-lg-8 col-xl-6 text-center">
					<h2 class="mt-0">Let's Get In Touch!<br> <a href="{{url_for('registration')}}"
							style="color: #393f81;">Register here</a></p>
					</h2>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer-->

	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
	<!-- SimpleLightbox plugin JS-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
	<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
	<!-- * *                               SB Forms JS                               * *-->
	<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
	<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
	<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>
{% endblock %}